html {
  background-color: bisque;
  background: url("imgs/Maple-Colors.webp") center fixed no-repeat;
  background-size: cover;
  opacity: 0.9;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 15px;
  width: 600px;
  padding: 25px 125px 50px;
  margin: 50px auto;
  background-color: rgba(240, 248, 255, 0.9);
}

.bMargin {
  margin-bottom: 50px;
}

.center {
  text-align: center;
}

.round {
  border-radius: 10px;
  opacity: 1;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  font-weight: bold;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: maroon;
  text-decoration: underline;
}

h2 {
  margin-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: maroon;
}

h3 {
  margin: -10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
